*{
    margin: 0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
header{
    background-color: rgb(179, 72, 72);
    height: 50px;
    box-shadow:2px 2px rgb(61, 60, 60)  ;
    
}
header h1{
    color: rgb(245, 201, 201);
    text-shadow: 3px 3px #180a0a;
}
#banner{
    height: 600px;
    width: 100%;
    background-image:url('https://img.freepik.com/free-photo/books-stack-wooden-table_23-2148898286.jpg?size=626&ext=jpg&ga=GA1.1.1666349116.1701504938&semt=ais') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    margin: 0;
    padding: 0;
    height: 500px;
    background-color: rgb(56, 18, 18);
    display: flex;
    flex-wrap: wrap;

}
.col{
    float: left;
    width: 20%;
    margin: 30px;
    background-color: rgb(179, 72, 72);
    border-radius: 15px;
    border: 2px groove rgb(230, 179, 179) ;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 23px;
    
}
h3{
    text-shadow: 2px 2px rgb(90, 88, 88);
}
img {
    height: 150px;
    border-radius: 10px;
}
a{
    padding: 10px;
}
button{
    background-color:rgb(56, 18, 18) ;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    
}
button:hover{
    background-color: rgb(99, 41, 41);border-radius: 5px;height: 30px;
    width: 70px;color:white;
}
footer {
    background-color: #f0f0f0;
    text-align: center;
    background-color:rgb(179, 72, 72);
    height: 50px;
}
@media screen and (width: 400px) {

*{
    margin: 0;
    padding: 0;
}
#banner{
    height: 400px;
    width: 400px;
    background-image:url('https://img.freepik.com/free-photo/books-stack-wooden-table_23-2148898286.jpg?size=626&ext=jpg&ga=GA1.1.1666349116.1701504938&semt=ais') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    height: auto;
   width: 400px;
    background-color: rgb(56, 18, 18);
    display: flex;
    flex-wrap: wrap;

}
.col{
   flex-direction: column;
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}
.container {
    align-items: center;
    text-align: justify;
    width: 400px;
  
}
h3{
    text-shadow: 2px 2px rgb(90, 88, 88);
}
img {
     height: 150px;
    border-radius: 10px;
}

button{
    background-color:rgb(56, 18, 18) ;
    color: white;border-radius: 5px;height: 30px;
    width: 70px;
    
}
button:hover{
    background-color: rgb(99, 41, 41);
    border-radius: 5px;
    height: 30px;
    width: 70px;color:white;
}
}
